


    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>简约时间线：统一任务调度平台大事记</legend>
    </fieldset>
    <ul class="layui-timeline">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">2018年，task_dispatcher 1.0 发布。采用golang开发实现</div>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">..........
                    <i class="layui-icon layui-icon-fire" style="font-size: 20px; color: #1E9FFF;"></i>
                    <i class="layui-icon layui-icon-fire" style="font-size: 20px; color: #1E9FFF;"></i>
                    <i class="layui-icon layui-icon-fire" style="font-size: 20px; color: #1E9FFF;"></i>
                </div>
            </div>
        </li>
    </ul>

    <table class="layui-table">
        <thead>
        <tr>
            <th>开发人员</th>
            <th>版本</th>
            <th>时间</th>
            <th>主要功能</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>sunpengwei</td>
            <td width="50px">v1.0</td>
            <td width="100px"> 2018-08-01 </td>
            <td>任务分组,任务添加,任务并发数配置，监控，通过RESTFUL形式调用任务执行,节点down掉任务转移，新增节点任务自动分配等等.....</td>
        </tr>
        </tbody>
    </table>
